{% extends 'base.html.twig' %}

{% block title %}Edit Station{% endblock %}

{% block body %}
    <h1>Edit Station</h1>

    {{ include('station_admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_station_admin_index') }}">back to list</a>

    {{ include('station_admin/_delete_form.html.twig') }}
{% endblock %}
